<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="row mb-4">
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">Editor</h5>
                      <p>Pages type scale includes a range of contrasting styles that support the needs of your product and its content.</p>
                      <!-- Create the editor container -->
                      <div id="editor" style="min-height:100px;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis convallis efficitur. Cras nisi felis, luctus nec nibh quis, consequat maximus velit. Ut iaculis at lacus sed pellentesque.</p>
                        <p>Maecenas luctus nisl quis leo porta, quis elementum mi tempus. Morbi blandit metus ut nulla scelerisque, sed ornare purus elementum. Vivamus sed augue in tortor commodo malesuada sed et nulla. Nullam cursus erat eget tellus maximus, ut placerat lorem fringilla.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end section -->
		</div>
	</div>
</div>
